.my_container {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}
:root {
    // Font size
    --biggest-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
    
    // Font weight
    --font-medium: 500;
    --font-bold: 700;
}

.theme-white {
    background-color: hsl(0, 0%, 99%);
    transition: .5s;
}
.theme-black {
    background-color: hsl(0, 0%, 12%);
    transition: .5s;
    .new-bottom {
        .cards {
            div {
                img {
                    height: 215px;
                    margin-top: 38px;
                }
                b {
                    font-size: var(--normal-font-size);
                    margin-top: 8px;
                }
                span {
                    color: #ffb566;
                    font-size: 18px;
                    font-weight: 600;
                    margin-top: 8px;
                }
                button {
                    margin-top: -10px;
                    opacity: 0;
                    transition: .4s;
                    padding: 10px 20px;
                    background-color: hsl(0, 0%, 16%);
                    color: white;
                    border: none;
                    &:hover {
                        background-color: hsl(0, 0%, 36%);
                    }
                    &:active {
                        transform: scale(.96);
                    }
                }
                &:hover {
                    height: 440px;
                    transition: .4s;
                    background-color: #ffb566 !important;
                    b {
                        color: black !important;
                    }
                    span {
                        color: black;
                    }
                    button {
                        margin-top: 20px;
                        transition: .4s;
                        opacity: 1;
                    }
                    &:after {
                        position: absolute;
                        width: 60px;
                        height: 30px;
                        font-size: 14px;
                        font-weight: 500;
                        display: flex;
                        align-items: center;
                        color: #fff;
                        justify-content: center;
                        background-color: hsl(0, 0%, 16%);
                        content: "NEW";
                        right: 5%;
                        top: 5%;
                        letter-spacing: 1.3px;
                        cursor: pointer;
                    }
                }
                &:after {
                    position: absolute;
                    width: 60px;
                    height: 30px;
                    font-size: 14px;
                    font-weight: 500;
                    display: flex;
                    align-items: center;
                    color: white;
                    justify-content: center;
                    background-color: #ffb566;
                    content: "NEW";
                    right: 5%;
                    top: 5%;
                    letter-spacing: 1.3px;
                    cursor: pointer;
                }
            }
        }
    }
    .social {
        a {
            &:nth-child(2) {
                color: #1773EA !important;
                i {
                    color: #1773EA !important;
                }
            }
            &:nth-child(3) {
                color: #1C96E8 !important;
                i {
                    color: #1C96E8 !important;
                }
            }
            &:last-child {
                color: #F7016E !important;
                i {
                    color: #F7016E !important;
                }
            }
        }
    }
    .scrollTop {
        button {
            background-color: hsl(0, 0%, 22%);
            color: #ffb566 !important;
            i {
                color: #ffb566 !important;
            }
        }
    }
    .header-scroll {
        transition: .5s;
        background-color: hsl(0, 0%, 12%);
    }
    .cards {
        div {
            background-color: hsl(0, 0%, 16%) !important;
            border-color: hsl(0, 0%, 20%) !important;
            button {
                background-color: hsl(0, 0%, 24%) !important;
                &:hover {
                    background-color: hsl(0, 0%, 34%) !important;
                }
            }
            &:hover {
                box-shadow: 1px 1px 30px 2px hsl(0, 0%, 26%) !important;
            }
        }
    }
    a, i, button, h1, h2, h3, h4, h5, p, b {
        transition: .5s;
        color: white !important;
    }
}